<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>审批教室</title>
</head>

<body>
    <div>
        <div>审批教室</div>
        申请表ID:<%=info.t_id%>
        申请人:<%=info.t_name%>
        申请课室的使用时间:<%=info.t_time%>
        <br></br>
        <form action="/classtable/class_assign/doassign/<%=info.t_id%>" method="POST">
            审核人的ID：<input type="text" name="u_id" value="<%=info.u_id%>">
            分配的教室ID：<input type="text" name="c_id" value="<%=info.c_id%>">
            审核结果：<input type="text" name="t_result" value="<%=info.t_result%>">
            <br></br>
                        当前状态:
                        <%if(info.c_use==0){%>
                        被占用
                        <%}else{%>
                        空闲
                        <%}%>    
                                    <br></br>
                                    <label for="c_use">修改状态:</label>
                                    <select name="c_use">
                                        <option value="0">被占用</option>
                                        <option value="1">空闲</option>
                                    </select>
            <br></br>
            <button type="submit">提交</button> <button type="reset">重置</button>
        </form>
    </div>
</body>

</html>